*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
    width: auto;
    height: auto;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 25vw;
    display: flex;
    justify-content: center;
}

.image img {
    max-height: 40vh;
}

.name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-radius: 20px;
    font-weight: 700;
}

.name > p {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.info {
    align-self: flex-start;
    margin-top: 50px;
    padding: 20px;
    width: 25vw;
    border-radius: 20px;
    font-weight: 700;
}

.info > div {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.restart {
    margin-top: 30px;
    background-color: rgb(56, 163, 165);
    padding: 10px;
    border: none;
    color: white;
    justify-self: center;
}

/* Change Colors */

.card-water { background: linear-gradient(180deg, rgb(56, 163, 165), rgb(87, 204, 153)); }
.card-normal { background: linear-gradient(180deg, rgb(244, 209, 155), rgb(249, 243, 223)); }
.card-rock { background: linear-gradient(180deg, rgb(157, 157, 157), rgb(248, 240, 223)); }
.card-fire { background: linear-gradient(180deg, rgb(190, 0, 0), rgb(247, 234, 0)); }
.card-dark { background: linear-gradient(180deg, rgb(0, 0, 0), rgb(89, 82, 96)); }
.card-ground { background: linear-gradient(180deg, rgb(111, 76, 91), rgb(222, 186, 157)); }
.card-electric { background: linear-gradient(180deg, rgb(250, 255, 0), rgb(255, 179, 68)); }
.card-psychic { background: linear-gradient(180deg, rgb(250, 235, 224), rgb(185, 128, 240)); }
.card-grass { background: linear-gradient(180deg, rgb(84, 227, 70), rgb(188, 255, 185)); }
.card-dragon { background: linear-gradient(180deg, rgb(70, 70, 96), rgb(168, 231, 233)); }
.card-poison { background: linear-gradient(180deg, rgb(84, 227, 70), rgb(63, 0, 113)); }
.card-bug { background: linear-gradient(180deg, rgb(255, 179, 68), rgb(0, 161, 157)); }
.card-ghost { background: linear-gradient(180deg, rgb(0, 0, 0), rgb(97, 0, 148)); }
.card-fairy { background: linear-gradient(180deg, rgb(255, 222, 222), rgb(254, 251, 243)); }
.card-fighting { background: linear-gradient(180deg, rgb(164, 93, 93), rgb(255, 192, 105)); }
.card-ice { background: linear-gradient(180deg, rgb(0, 35, 102), rgb(61, 178, 255)); }

.info-water { background-color: rgb(56, 163, 165); }
.info-normal { background-color: rgb(244, 209, 155); }
.info-rock { background-color: rgb(157, 157, 157); }
.info-fire { background-color: rgb(190, 0, 0); }
.info-dark { background-color: rgb(0, 0, 0); color: white; }
.info-ground { background-color: rgb(111, 76, 91); }
.info-electric { background-color: rgb(250, 255, 0); }
.info-psychic { background-color: rgb(250, 235, 224); }
.info-grass { background-color: rgb(84, 227, 70); }
.info-dragon { background-color: rgb(70, 70, 96); }
.info-poison { background-color: rgb(84, 227, 70); }
.info-bug { background-color: rgb(255, 179, 68); }
.info-ghost { background-color: rgb(0, 0, 0); color: white; }
.info-fairy { background-color: rgb(255, 222, 222); }
.info-fighting { background-color: rgb(164, 93, 93); }
.info-ice { background-color: rgb(0, 35, 102); color: white;}