*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
    background: linear-gradient(180deg, rgb(56, 163, 165), rgb(87, 204, 153));
    width: auto;
    height: auto;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 25vw;
    display: flex;
    justify-content: center;
}

.name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-radius: 20px;
    font-weight: 700;
}

.name > p {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.info {
    background-color: rgb(128, 237, 153);
    align-self: flex-start;
    margin-top: 50px;
    padding: 20px;
    width: 25vw;
    border-radius: 20px;
    font-weight: 700;
}

.info > div {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.restart {
    margin-top: 30px;
    background-color: rgb(56, 163, 165);
    padding: 10px;
    border: none;
    color: white;
    justify-self: center;
}